<div class="form-group">
    <label><%= label %></label>
    <input
        id = <%= id %>
        class = <%= attr.className.join(" ")%>
        value = <%= attr.value %>
        placeholder = <%= attr.placeholder %>
        type = <%= attr.type %>>
</div>
